<button type="button" class="btn btn-info" style="float: right;" (click)="openModal()">Create</button>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Comment</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; index as i ">
      <th scope="row">{{i+1}} </th>
      <td>{{task.name}} </td>
      <td>{{task.comment}} </td>
      <td> <span (click)="editOpen(i); openModal()"><i class="bi bi-pencil-square text-primary"></i></span> &nbsp;
        <span (click)="index = i; deleteAlert()" ><i class="bi bi-trash3-fill text-danger"></i></span> </td>
    </tr>

  </tbody>
</table>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{editEnable ? 'Add ' : 'Edit ' }} Task </h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="name">
            <div *ngIf="taskForm.get('name')?.touched">
              <span *ngIf="taskForm.get('name')?.errors?.['required']" class="text-danger">Name field is
                required...</span>
              <span *ngIf="taskForm.get('name')?.errors?.['minlength']" class="text-danger">Must be min 3 char and max
                20 chars...</span>
            </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Comment:</label>
            <textarea class="form-control" id="message-text" formControlName="comment"></textarea>
            <div *ngIf="taskForm.get('comment')?.touched">
              <span *ngIf="taskForm.get('comment')?.errors?.['required']" class="text-danger">Comment field is
                required...</span>
              <span *ngIf="taskForm.get('comment')?.errors?.['minlength']" class="text-danger">Must be more than 5
                chars...</span>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-8">

              <span *ngIf="errorMessage !== ''" class="text-danger"> {{errorMessage}} </span>
            </div>
            <div class="col">
              <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
              <button type="submit" class="btn btn-primary"> Save</button>
            </div>

          </div>

        </div>
      </form>

    </div>
  </div>
</div>