
.row {
  margin : 0;
}

.btnCss {
  position: absolute;
  right: 20px;
  top: 63px
}

.dropDownCss{
  position: absolute;
  right: 100px;
  top: 63px
}

.boarder-sucessCss {
  border: 1px solid ;
  margin: 10px !important;
}


.dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.boarderCss{
  border-radius:  0.50rem
}