<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i">
            <th scope="row"> {{i+1}} </th>
            <td>{{user.name}} </td>
            <td>{{user.email}} </td>
            <td>
                <div class="form-check form-switch">
                    <input (change)="roleUpdate(!user.isAdmin, i)" class="form-check-input" type="checkbox" role="switch" [checked] = user.isAdmin >
                  </div>
                 </td>
        </tr>
    </tbody>
</table>